<a href="https://colab.research.google.com/github/nobg0321/physics/blob/20250411/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_5_%EC%9E%85%EB%A0%A5%EA%B3%BC_%EB%B0%98%EB%B3%B5%EB%AC%B8_%EC%82%AC%EC%9A%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
str = input("How old are you : ")
print(str,'years old', sep=' ')

How old are you : 20
20 years old

In [8]:
x = int(input('number : '))
print(x)

number : 55
55

In [10]:
x = float(input('number : '))
print(x)

number : 1.2
1.2

In [12]:
year = input("This year : ")
year = eval(year)
year = year + 1
print("Next year : ", year)

This year : 2025
Next year :  2026

In [21]:
i = 0
result = 0
while i < 5 :
  print(f'{i}번째 ', end=" ")
  a = input("성적 입력 : ")
  result += int(a)
  i += 1

print(f'합 : {result}')
print(f'평균 : {result / 5}')

0번째  성적 입력 : 10
1번째  성적 입력 : 20
2번째  성적 입력 : 30
3번째  성적 입력 : 40
4번째  성적 입력 : 50
합 : 150
평균 : 30.0

In [23]:
test_list = ['one', 'two', 'three']
for i in test_list :
  print(i)

one
two
three

In [24]:
for i in range(1, 10) :
  print(i)

1
2
3
4
5
6
7
8
9

In [27]:
result = 0
for a in range(1, 101) :
  result = result + a
  print(f"(a) {result}")

print(result)

(a) 1
(a) 3
(a) 6
(a) 10
(a) 15
(a) 21
(a) 28
(a) 36
(a) 45
(a) 55
(a) 66
(a) 78
(a) 91
(a) 105
(a) 120
(a) 136
(a) 153
(a) 171
(a) 190
(a) 210
(a) 231
(a) 253
(a) 276
(a) 300
(a) 325
(a) 351
(a) 378
(a) 406
(a) 435
(a) 465
(a) 496
(a) 528
(a) 561
(a) 595
(a) 630
(a) 666
(a) 703
(a) 741
(a) 780
(a) 820
(a) 861
(a) 903
(a) 946
(a) 990
(a) 1035
(a) 1081
(a) 1128
(a) 1176
(a) 1225
(a) 1275
(a) 1326
(a) 1378
(a) 1431
(a) 1485
(a) 1540
(a) 1596
(a) 1653
(a) 1711
(a) 1770
(a) 1830
(a) 1891
(a) 1953
(a) 2016
(a) 2080
(a) 2145
(a) 2211
(a) 2278
(a) 2346
(a) 2415
(a) 2485
(a) 2556
(a) 2628
(a) 2701
(a) 2775
(a) 2850
(a) 2926
(a) 3003
(a) 3081
(a) 3160
(a) 3240
(a) 3321
(a) 3403
(a) 3486
(a) 3570
(a) 3655
(a) 3741
(a) 3828
(a) 3916
(a) 4005
(a) 4095
(a) 4186
(a) 4278
(a) 4371
(a) 4465
(a) 4560
(a) 4656
(a) 4753
(a) 4851
(a) 4950
(a) 5050
5050

In [32]:
result = 0
for a in range(1,101):
  result = result + a
  print(f'{a} : sum = {result}')
  if result > 100:
    break

print(result)

1 : sum = 1
2 : sum = 3
3 : sum = 6
4 : sum = 10
5 : sum = 15
6 : sum = 21
7 : sum = 28
8 : sum = 36
9 : sum = 45
10 : sum = 55
11 : sum = 66
12 : sum = 78
13 : sum = 91
14 : sum = 105
105

In [34]:
index = 0
s = "BlockDMask"
for a in s:
  print(a, end=' ')
  if a == 'k':
    break

  index = index + 1


print(index)

B l o c k 4

In [35]:
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
  if a <= 170:
    print(a)
    #continue

  #print(a)

170
164

In [36]:
result = 0
for a in range(1,101):
  if a % 2 == 1:
    result = result + a

print(result)

2500

In [37]:
result = 0
for a in range(1,101):
  if a % 2 == 0:

    continue
  result = result + a

print(result)

2500

In [39]:
l = ['Alice', 'Bob', 'Charlie']

for name in l:
  if name == 'Bob':
    print("Break!")
    break
  print(name)
else:
  print("!!Finish")

Alice
Break!

In [41]:
sr = ['father', 'mother', 'brother']
cnt = 0
for s in sr:
  print(s)
  for c in s:
    print(c, end= ' ')
    if c == 'r':
      print(' ')
      cnt += 1
print(cnt)

father
f a t h e r
mother
m o t h e r
brother
b r
o t h e r
4

In [44]:
a = []

for i in range(10):
  a.append(i)

print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
a =[]

for i in range(3):
  line = []
  for j in range(2):
    line.append(j+i)
  a.append(line)

print(a)

[[0, 1], [1, 2], [2, 3]]

In [51]:
l = ['Alice', 'Bob', 'Charlie']

for name in l:
  print(name)

for i, name in enumerate(l, 42):
  print(i, name)

Alice
Bob
Charlie
42 Alice
43 Bob
44 Charlie